@import 'variables';
// #products_container {
//   width: 70%;
//   margin: auto;
//   .card {
//     width: 24%;
//     border-radius: $boder_raduis;
//     padding: 10px;
//     background: #000;
//     #img_delete {
//       margin-bottom: 10px;
//       background: #d15050;
//       right: 0;
//       width: 30px;
//       height: 30px;
//       float: right;
//       // z-index: 1;
//       img {
//         top: 10;
//         width: 100%;
//       }
//     }
//     .product_img {
//       border-radius: $boder_raduis;
//       width: 100%;
//       height: 30vh;
//       background: $text_color;
//       img {
//         width: 100%;
//       }
//     }
//     .product_detail {
//       display: flex;
//       flex-direction: column;
//       margin-top:7%;
//       gap: 20px;
//       i {
//         color: $bg_color;
//       }
//     }
//     .actions {
//       width: 100%;
//       display: flex;
//       justify-content: space-between;
//       margin-top: 10px;
//       .edit {
//         width: 30px;
//         height: 30px;
//         img {
//           width: 100%;
//         }
//       }
//     }
//     a {
//       text-decoration: none;
//       color: #fff;
//     }
//   }
// }
#products_container {
  width: 60%;
  margin: auto;
  .card {
    width: 90%;
    padding: 10px;
    margin: 10px;
    background: rgb(123, 122, 122);
    border-radius: $boder_raduis;
    display: flex;
    justify-content: space-between;
    .product_info {

      display: flex;
      justify-content: space-between;
      img {
        width: 45%;
      }
      .detail {
        // width: 40%;
        display: flex;
        flex-direction: column;
        span {
          text-align: left;
          color: $text_color;
        }
      }
    }
    .actions {
      // width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img {
        margin: 5px;
        width: 15%;
      }
    }
  }
}